.gallery {
	width:570px;
	border-top: 1px solid #eee;
}

.gallery .gallery-container {
	margin:10px;
	display:inline-block;
}

.gallery .gallery-container:hover .img-thumbnail {
	border-color: #6699cc;
}

.gallery .img-thumbnail {
	width:165px;
	height:100px;
}